*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
    outline:none;
}
html {
    scroll-behavior: smooth;
    font-size:62.5%;
    overflow-x:hidden;
}
body {
    background:#111222;
    margin: 0;
 }
header{
	width: 100%;
    top:0rem; left:50%;
    transform: translateX(-50%);
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5.5rem 0rem 5.5rem;
    z-index:1000;
    font-family: 'Share Tech Mono','Open Sans','sans-serif';
	color:white;
	background-color: #040712;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2341607b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    position:fixed;
    transition:.2s;
}
#animation-section {
	position: relative;
	width: 100%;
	height: 100vh; 
	background-image: radial-gradient(circle at top right, rgba(0, 0, 0, 1), transparent),
                  radial-gradient(circle at 20% 80%, rgba(5, 5, 10, 1), transparent),
                  linear-gradient(to bottom, rgba(30, 30, 30, 1), rgba(40, 40, 60, 0.8) 60%, rgba(0, 51, 102, 0.6) 80%, rgba(0, 110, 220, 0.4) 90%);

}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.header-active{
    top:0;
    width:100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li{
    margin: 0 1.3rem;
    cursor:pointer;
}
header .navbar ul li a{
    font-size: 2.35rem;
    color: #fff;
    transition:.2s;
}
header .navbar ul li a .active,
header .navbar ul li a:hover{
    color: #f7941d;
}
header .logo img{
    height: 90px;
    width:auto;
    padding: .1rem .2rem;
}
.hamburg{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: alll 0.3s ease-in-out;
    background-color: #ffffff;
}
.main-text{
	width:90%;
	color:#f2f9fc;
	position:absolute;
	top:52.5%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}
.main-text h1{
	font-size:80px;
	font-family: Open Sans;
}
#main1{
	font-size:35px;
	font-family: Open Sans;
}
#main2{
	font-family: Open Sans;
	margin: 12px 0 0 0;
	font-size:30px;
}
.abut{
	font-family: 'Open Sans';
	width:auto;
	margin:auto;
	text-align:center;
	padding:7px 80px 0 80px;
}
.abt:hover{
	border: 2px solid #fff;
	background:#fff;
	color:black;
	transition:0.5s;
}
.abt{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	border:2px solid #fff;
	padding:12px 34px;
	margin: 65px 0 0 0 ;
	font-size:20px;
	background:transparent;
	position:relative;
	font-family:Open Sans;
	cursor:pointer;
    transition: all 0.3s ease-in-out;
}
#main-title{
    font-size:4rem;
    color: #f2f9fc;
    text-align: center;
    padding: 0 1rem;
    margin:  4.3rem 0 7.7rem 0;
    letter-spacing: .2rem;
    font-weight: 700;
    font-family:Share Tech Mono,Open Sans;
}
.abut .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.abut .row .image img{
    height: 510px; width:462px;
    display: block;
}
.abut .row .image{
    margin: 0 9.75rem 0 0;
}
.abut .row .content h3{
    font-size: 50px;
    color:#f2f9fc;
}
.content p{
    font-size:25px;
    color:#999;
    padding:0.75rem 0;
    line-height: 1.4;
}
.container{
    padding:15px 9%;
    padding-bottom: 100px;
}
.container .subsystem-heading{
    text-align: center;
    padding-bottom: 6.5rem;
    color:#fff;
    text-shadow: 0 5px 10px rgba(21, 19, 19, 0.2);
    font-size: 4rem;
}
.container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}
.container .card-container .card{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 3.75px;
    background: #49556e;
    text-align: center;
    padding:30px 20px;
    transition: .15s linear;
}
.container .card-container .card h3{
    color:#444;
    font-size: 1.75rem;
    padding:10px 0;
}

.container .card-container .card p{
    color:#777;
    font-size: 1.25rem;
    line-height: 1.35;
}

.container .card-container .card .card-button{
    margin-top: 30px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    transition: .2s linear;
}

.container .card-container .card .card-button:hover{
    letter-spacing: 1px;
}

.container .card-container .card:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
.subsystems{
    font-family: Open Sans,Lato;
    margin: 9rem 0 0 0;
}
.conbox{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin:195px auto 105px;
}
.conbox2{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin:195px auto 195px;
}
.h1conbox{
	font-size:48px;
	font-weight:570;
	padding:45px 0 60px 0;
        margin: 70px 0 0 0;
	color:#f2f9fc;
	font-family: Share Tech Mono,Open Sans;
}
.h1conbox2{
	font-size:48px;
	font-weight:570;
	padding:45px 0 60px 0;
        margin: 70px 0 -235px 0;
	color:#f2f9fc;
	font-family:Share Tech Mono,Open Sans;
}
.Team{
    font-family: 'Open Sans';
	width:auto;
	margin:-290px 0 0 0;
	text-align:center;
	padding:0;
}
.teamimg {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: -100px 0 0 0;
}
.teamimg img {
    max-width: 100%;
    height: auto;
    width: 70%; /* Adjust this value to control the width of the image */
    border: 1px; /* Optional: adds a border around the image */
    border-radius: 1px; /* Optional: adds rounded corners to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow to the image */
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}
.Gallery{
    font-family: 'Open Sans';
	width:auto;
	margin:-270px 0 270px 0;
	text-align:center;
	padding:0;
}
.last {
    position: relative;
    width: 100%;
    height: auto;
    background: #040712;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2341607b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: Poppins, sans-serif;
    padding: 50px 100px 15px 150px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

footer .containerf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .containerf .sec{
    margin-right: 30px; 
}
footer .containerf .sec.aboutuss{
    width:40%;
}
footer .containerf h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .containerf h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f7941d;
}
footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.sci li a:hover{
    background: #f7941d;
}
.quicklinks{
    position: relative;
    width: 25%;
}
.quicklinks ul li {
    list-style: none;
}
.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.quicklinks ul li a:hover{
    color: #f7941d;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    font-size: 11px;
}
.contact .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color:#999
}
.contact .info li a {
    color: #999;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.contact .info li a:hover{
    color: #f7941d;
}
.copyright{
    width: 100%;
    padding:35px 100px 3px 100px;
    text-align: center;
    color: #999;
}
/*CONTACT US PAGE CLASSES*/
.ContactUS{
    height: 100%;
    position: relative;
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#111222 0%,#111222 25%,#49556e 25%,#49556e 100%);
    padding: 9.25em 11em 9.25rem 11em;

}
.ContactUS .main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    padding: 1.95rem 0 1.55rem 0;
}
.ContactUS .main-title h2{
    color: #fff;
    font-weight: 550;
}
.form{
    grid-area: form;
}
.infu{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contactS{
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.infu{
    background-color: #111222;
}

.Cbox{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 4fr;
    grid-template-areas: 'form info' 'form map';
    grid-gap: 20px;
}
.contactS h3{
    color:#111222;
    font-weight: 600;
    font-size: 1.85em;
    margin-bottom: 10px;
    font-family: Share Tech Mono, Open Sans,sans-serif;
}
.infu h3{
    color: #fff;
}
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 25px;
}
.inputBox{
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox span{
    color: #040712;
    margin: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 600;
}
.inputBox input{
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    background-color: #fff;  
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    background-color: #fff;
}
.inputBox input[type='submit']{
    background: #f7941d;
    font-family: Share Tech Mono,Open Sans,sans-serif;
    color: #111222;
    border: none;
    font-size: 2rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.15s linear;
}
.inputBox input[type='submit']:hover{
    transform: scale(1.05);
}
.inputBox ::placeholder{
    color: #999;
}
.infoBox .infou{
    position: relative;
}
.infoBox .infou li{
    display: flex;
    margin-bottom: 16px;
    font-size: 2.15rem;
    font-weight: 550;
}
.infoBox .infou li span:nth-child(1){
    font-size: 2.15rem;
    margin-right: 10px;
}
.infoBox .infou li span{
    color:#fff
}
.infoBox .infou li a {
    color: #fff;
    text-decoration: none;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
/*Sponsors*/
.sponmain{
    position: relative;
    font-size: 4rem;
    color: white;
    margin-top: 12rem;
    padding: 0rem 2rem 0.15rem 2rem;
    text-align: center;
    font-family: Open Sans,sans-serif;
    margin-bottom: 7rem;
}
.sponmain:before{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 115px;
    height: 3px;
    background: #f7941d;
}
.sponsors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 7rem 0rem 7rem;
}
.spcard{
    display: block;
    text-align: center;
}
.spcard img{
    width: 300px;
}
.proposal{
    display: flex;
    justify-content: center;
    margin:  0 9rem 10rem 9rem;
}
.txt{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-family: Open Sans,sans-serif;
    margin-top: 2rem;
}
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .navMenu{
        position: fixed;
        flex-direction: column;
        top:-300%; left:0;
        width: 100%;
        gap:0;
        background-color: #040712;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2341607b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        transition: .25s;
        text-align: center;
        font-size:3rem;
        padding:1.75rem 0;
    }
    .navMenu.active{
        top: 80%;
    }
    header .logo img {
        height: 55px;
    }
    .hamburg{
        display: block;
    }
    .hamburg.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburg.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburg.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .main-text{
        width:90%;
        color:#f2f9fc;
        position:absolute;
        top:52.5%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
    }
    .main-text h1{
        font-size:60px;
        font-family:Open Sans;
    }
    #main1{
        font-size:30px;
        font-family:Open Sans;
    }
    #main2{
        font-family: Open Sans;
        margin: 12px 0 0 0;
        font-size:15px;
    }
    .abt{
        display:inline-block;
        text-decoration:none;
        color:#fff;
        border:2px solid #fff;
        padding:12px 34px;
        margin: 65px 0 0 0 ;
        font-size:15px;
        background:transparent;
        position:relative;
        font-family:Open Sans;
        cursor:pointer;
    }
    .abut{
        padding: 7px 40px 0 40px;
    }
    .abut .row{
        flex-flow: column-reverse; 
    }
    .abut .row .image{
        display: flex;
        justify-content: center;
        padding:10px;
    }
    .abut .row .content {
        padding:  0 1.5rem;
    }
    .subsystems{
        margin:4rem 0 0 0;
    }
    .container .subsystem-heading{
        font-size:3.45rem;
    }
    .abut .row .image{
        margin: 0;
    }
    .h1conbox2{
        margin: 30px 0 5px 0;
        padding: 10px;
    }
    .conbox2{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        margin:275px auto 0;
    }
}
@media(max-width:555px){
    .abut .row .image img{
        height:auto;
        width:65vw;
        margin: 0 auto;
        max-width:100%;
    }
    .main-text h1{
        font-size: 45px;
    }
    #main1{
        font-size: 21px;
    }
}
@media (max-width:435px){
    .last{
        padding: 50px 40px 15px 40px;
    }
}
@media (max-width:900px){
    footer{
        padding: 40px;
    }
    footer .containerf{
        flex-direction : column;
    }
    footer .containerf .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containerf .sec.aboutuss,.quicklinks,.contact{
        width: 100%;
    }
    .copyright{
        padding: 8px 40px;
    }
}
@media (max-width:470px){
    .content h3{
        font-size: 30px;
    }
    .content p{
        font-size: 16px;
    }
}
.team-text p {
    font-size: 1.5rem;
    color: #ffffff;
    width: 70%;
    margin: 0 auto; /* Centers the paragraphs horizontally */
    padding: 10px 0; /* Adds padding between paragraphs */
  }
  .team-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    border-radius: 2px;
  }
  .team-more:hover {
    background-color: #ffffff;
    color: #000000;
    transition:0.5s;
  }

.gall-img {
    display: block;
    max-width: 100%;
    height: 355px;
    width: 378px;
    border-radius: 0.7rem;
  }
.gall-container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }

.gall{
display: grid;
gap: 3.5rem;
}
.gall-article {
position: relative;
overflow: hidden;
}
.gall-data {
    width: 280px;
    color:white;
    background-color: #49556e;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  .gall-description {
    display: block;
    font-size: .813rem;
    margin-bottom: .25rem;
  }
  .gall-button {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 500;
    color: #f7941d;
  }
  
.gall-button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
.gall-article:hover .gall-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
.gall-article:hover {
    animation: remove-overflow 2s forwards;
  }
  
.gall-article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
.gall-article:not(:hover) .gall-data {
    animation: remove-data 1s forwards;
  }
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  @media screen and (max-width: 340px) {
    .gall-container {
      margin-inline: 1rem;
    }
  
    .gall-data {
      width: 250px;
      padding: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    .ggll-container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  @media screen and (min-width: 1116px) {
    .gall-container {
      height: 100vh;
    }
    .gall {
      grid-template-columns: repeat(3, 1fr);
    }
    .gall-img {
      width: 348px;
    }
    .gall-data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }
  @media (max-width:1024px){
    .gall-img {
        display: block;
        max-width: 100%;
        height: 400px;
        width: 428px;
        border-radius: 0.7rem;
      }
      .gall{
        display: grid;
        gap: 2.5rem;
        }
        .gall-container{
            margin-inline: 1.5rem;
            padding-block: 5rem;
          }
  }
@media (max-width:555px){
    .gall-img {
        display: block;
        max-width: 100%;
        height: 300px;
        width: 328px;
        border-radius: 0.7rem;
      }
}





